.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    margin: 1rem 1rem .5rem 1rem;
    padding: 1.5rem 1.5rem .5rem 1.5rem;
    border: 1px solid #e0dddd;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    min-width: 20rem;
}
  
.login:hover {
    box-shadow: 4px 16px 24px 4px rgba(0,0,0,0.2);  
}

.login h1 {
    font-size: 3.25rem;
    text-align: center;
    margin-top: 0;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input {
    border: solid 3px black;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.25rem;
    border-radius: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit {
    border: solid 2px #e0dddd;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: white;
    line-height: 1.5;
    display: block;
    margin: auto;
}

.submit:hover {
    cursor: pointer;
}